@import './colors';
@import './custom';

html { list-style: none; }
body { color: $darkblueishgray; font-size: 1em; }
i{ font-size: 2em; }
img { max-width: 100%; vertical-align: middle;}
a { color: $darkblueishgray; text-decoration: none; }
a:focus, a:hover { color: $redpink; text-decoration: none; }
p { color: $darkblueishgray;  }
li { 
    display: inline-block; 
    margin-left: 2%; 
    padding: 1% 2% 1% 2%; 
    display: inline-block;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}
li:hover { 
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3); 
}
ul {  }
nav {  }
h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }
h6 {  }
